.money-spendings{
  /*width: 800px;*/
  height: 680px;
}

.callout h5{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.title{
  color: #333;
  margin-top: 10px;
  margin-bottom: 0;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: auto;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
  font-size: 11px;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 245px;
  left: 265px;
  width: 200px;
  text-align: center;
  color: #666;
  z-index: 1;
}

#percentage {
  font-size: 2.5em;
}

#amount {
  font-size: 2em;
  font-weight: bold;
}

#category {
  font-size: 2.5em;
}

#subcategory {
  font-size: 1.5em;
}

#description {
  font-size: 1em;
}

[type='checkbox']{
  margin: 0 !important;
}

.legendbar{
  margin-right: 150px;
}

.legend{
  width: 120px;
  float: left;
  clear: left;;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  margin: 10px 3px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
}
.home{
  background-color: #EE6B53;
}
.food{
  background-color: #81BD28;
}
.health{
  background-color: #B584C8;
}
.transportation{
  background-color: #FECF42;
}
.personal{
  background-color: #0FB0C9;
}
.entertainment{
  background-color: #ED7501;
}
.education{
  background-color: #005BA3;
}
.management{
  background-color: #878383;
}
